<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-setminsdk-15"
        version="1.4.1">

    <name>Setminsdk 15</name>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <uses-sdk android:minSdkVersion="15"/>
        </config-file>
    </platform>
</plugin>
